<% /* %>
Giving id to li so that it will help us to delete post later using ajax
<% */ %>
<li id="comment-<%= comment._id%>">

    <p>
      <%= comment.content%>
        <span>

          <% /* %>

            creating an anchor tag to delete comments, explaination is almost the same
            given while creating an anchor tag to delete posts
            here comments is already populated hence comment.user.id will work and not
            comment.user.id since in homecontroller we had populated both comments as well
            as posts with their respective document

            <% */ %>

            <% /* %>
                             giving class to delte button to have common styling for all delete buttons of comments
                              <% */ %>
              <% if(locals.user && comment.user.id==locals.user.id) {%>
                <a href="/comments/destroy/<%=comment.id%>" class ="delete-comment-button"> X </a>
                <%}%>
        </span>
        <br>
        <small>
          <%= comment.user.name%>
        </small>
    </p>
  </li>