<h1>Konnect | <%=title%>
</h1>
<section id="posts-section">
  <h4> Posts </h4>
  <% /* %>
    creating form which corresponds to schema
    only signed in user will be able to view form
    using locals.user and not user , reason mentioned in book
    <% */ %>
      <% if(locals.user) {%>
        <form action="/posts/create" id="new-post" method="post">
          <% /* %>
            now we need an entire area to write post and not just a small input box hence have used text area
            <% */ %>
              <textarea name="content" cols="30" rows="3" placeholder="Type Here..."></textarea>
              <input type="submit" value="Post">
        </form>
        <%}%>

          <div id="posts-list-container">
            <ul>
              <% /* %>
                now we will be looping through posts that we have sent from server to browser and display corresponding
                data
                we are looping because format for every post is same so its better to loop and save our time otherwise
                we will have to do for everposts

                <% */ %>
                  <% for(post of posts){%>
                    

                   <%-include('_posts')-%>


                            <%}%>
            </ul>
          </div>

</section>