
    <h1>Konnect | <%=title%></h1>
    <section id="posts-section">
        <h4> Posts </h4>
        <% /* %>
          creating form which corresponds to schema 
          only signed in user will be able to view form 
          using locals.user and not user , reason mentioned in book
        <% */ %>
        <% if(locals.user) {%>
          <form action="/posts/create" id="new-post" method="post">
            <% /* %>
        now we need an entire area to write post and not just a small input box hence have used text area
  <% */ %>
            <textarea name="content"  cols="30" rows="3" placeholder="Type Here..."></textarea>
            <input type="submit" value="Post">
          </form>
        <%}%>
       
        <div id="posts-list-container">
          <ul>
            <% /* %>
              now we will be looping through posts that we have sent from server to browser and display corresponding data 
              we are looping because format for every post is same so its better to loop and save our time otherwise we will have to do for everposts
      
            <% */ %>
            <% for(post of posts){%>
                <p>
                 <li><%= post.content%></li> 
                 <li>
                   <small>
                     <%= post.user.name%>
                   </small>
                 </li>
                </p>
                <% /* %>
                For every post we will have a comments form 
                The comments form will be visible to only signed in users so that no one else comments
              <% */ %>
              <div class = "post-comments">
                <% /* %>
                   here we have class and not id for div because a single post can have multiple comments and we want all those comments to have same <style></style>
              <% */ %>
             <% if(locals.user) {%>
              
              <form action="/comments/create" method="post">
                <input type="text" name="content" placeholder="Type here to add your comment...">
                <% /* %>
               Next we need to send the post id to identify which post we have to add the comment , so that is something we have to send 
               so we can either allow user to send that or do it with hidden input we will be doing it with hidden input
              <% */ %>
              <input type="hidden" name="postId" value="<%=post._id%>">
              <input type="submit" value="Add comment">
              </form>
              
              <%}%>
              </div>
            <%}%>
          </ul>
        </div>

    </section>