<link rel="stylesheet" href="/css/user_profile.css">
    <h1>Konnect | Profile Page<%=title%></h1>
    <% /* %>
    showing users  profile and name     <% */ %>
    <p><%=profile.user.name%></p>
    <p><%=profile.user.email%></p>